{% load static %}
<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'mainapp:mainapp_view' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'assets/img/PG_logo.png' %}" alt="">
<!--        <h1>UpConstruction<span>.</span></h1>-->
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'mainapp:mainapp_view' %}"
            {% if title == "Главная" %}
                 class = "active"
            {% endif %}>Главная</a></li>
          <li><a href="#"
                  {% if title == "О нас" %}
                 class="active"
                  {% endif %}>О нас</a>
          </li>
          <li><a href="{% url 'mainapp:mainapp_projects' %}"
                  {% if title == "Проекты" %}
                 class="active"
                  {% endif %}>Проекты</a></li>


          <li><a href="{% url 'mainapp:mainapp_contacts' %}"
            {% if title == "Контакты" %}
              class = "active"
            {% endif %}>Контакты</a>
          </li>

        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->