{% extends "mainapp/includes/base.html" %}
{% load static %}


{% block content %}

    <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/breadcrumbs-bg.jpg' %}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Контакты</h2>
        <ol>
          <li><a href="{% url 'mainapp:mainapp_view' %}">Главная</a></li>
          <li>Контакты</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="info-item  d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-map"></i>
              <h3>Наш Адрес</h3>
              <p>123022, Россия, г. Москва, Столярный пер., д.3, корп.1</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-envelope"></i>
              <h3>Почта</h3>
              <p>profg@yandex.ru</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item  d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-telephone"></i>
              <h3>Секретариат</h3>
              <p>+7 (495) 609 38 85</p>

            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">

          <div class="col-lg-6 ">
              <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A31a5747411ca15fe9d9541e0b1bab951bd6376878626429a948d6b9e86f718c8&amp;source=constructor" width="636" height="384" frameborder="0"></iframe>
          </div><!-- End Google Maps -->

          <div class="col-lg-6">
            <form action="{% url 'mainapp:mainapp_contacts' %}" method="post" role="form" class="php-email-form">
                {% csrf_token %}
              <div class="row gy-4">
                <div class="col-lg-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Ваше Имя" required>
                </div>
                <div class="col-lg-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Ваша почта" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Сообщение" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Загрузка</div>
                <div class="error-message"></div>
                <div class="sent-message">Ваше сообщение отправлено!</div>
              </div>
              <div class="text-center"><button type="submit">Отправить сообщение</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}