{% extends "mainapp/includes/base.html" %}
{% load static %}


{% block content %}

    <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/breadcrumbs-bg.jpg' %}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Проекты</h2>
        <ol>
          <li><a href="{% url 'mainapp:mainapp_view' %}">Главная</a></li>
          <li>Проекты</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

          <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">Все</li>
              {% for category in categories %}
                  <li data-filter=".filter-{{ category.0 }}">{{ category.1 }}</li>
              {% endfor %}
          </ul><!-- End Projects Filters -->

          <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% for project in projects %}

                <div class="col-lg-4 col-md-6 portfolio-item filter-{{ project.category }}">
              <div class="portfolio-content h-100">
                <img src="{{ project.images.first.image.url }}" class="img-fluid" alt="" style="aspect-ratio: 16 / 10.7">
                <div class="portfolio-info">
                  <h4>{{ project.get_category_display }}</h4>
                  <p>{{ project.title }}</p>
                  <a href="{{ project.images.first.image.url }}" title="{{ project.category}}" data-gallery="portfolio-gallery-{{ project.category }}" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'mainapp:mainapp_project-detail' project.pk %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            {% endfor %}
          </div><!-- End Projects Container -->

        </div>

      </div>
    </section><!-- End Our Projects Section -->

  </main><!-- End #main -->

{% endblock %}